* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#theory,
#theoryAndLab {
  display: none;
}
header {
  background-color: aqua;
  min-height: 15vh;
  height: auto;
  overflow: hidden;
  text-align: center;
}
body {
  display: flex;
  flex-flow: column wrap;
}
body {
  background-color: blanchedalmond;
}
label {
  font-size: 1.5rem;
  line-height: 4rem;
}
select {
  height: 2rem;
  padding: 5px;
  border-radius: 2rem;
  border: none;
  background-color: rgba(76, 211, 238, 0.6);
}
button {
  height: 3rem;
  border-radius: 1rem;
  border: none;
  background-color: rgba(76, 211, 238, 0.6);
  padding: 8px;
}
input[type="text"] {
  height: 2rem;
  padding: 8px;
  border-radius: 2rem;
  border: none;
  background-color: rgba(76, 211, 238, 0.6);
  font-size: medium;
  color: black;
}
input[type="checkbox"] {
  margin: 1rem;
  transform: scale(2);
}
