* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
#theory , #theoryAndLab {
    display: none;
}
body {
    background-color: #12dcdf;
}
header {
    color: #6A3937;
    min-height: 15vh;
    height: auto;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}
#select {
    border-top: 2px solid #3B0D11;
    display: flex;
    flex-flow: column wrap;
    min-height: 15vh;
    color: #6A3937;
    justify-content: space-evenly;
}
#asking {
    font-size: large;
    margin: 10px;
    font-weight: 800;
}
#select select {
    border: none;
    outline: none;
    margin: 1em 1.5em 1em 1.5em;
    min-height: 5vh;
    height: auto;
    border-radius: 10px;
    color: #5624d3;
    font-weight: 600;
    padding: 10px;
}
section {
    margin: 10px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}
section input[type="text"] {
    min-width: 100%;
    border: none;
    outline: none;
    margin: 10px 0 10px 0;
    padding: 10px;
    height: 5vh;
    border-radius: 10px;
    color: #5624d3;
    font-weight: 600;
}
#x , #x1{
    margin: 0 20vw 20px 20vw;
}
button {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}
#msg , #msg2 {
    color: #3B0D11;
    display: flex;
    justify-content: center;
    font-size: x-large;
}
#marking {
    display: none;
}
.pop {
    background-color: orange;
    height: 50%;
    height: min-content;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #12dcdf;
    border: 5px double rgb(11, 114, 205);
    display: none;
}
.pop h1 , h3{
    color: black;
    margin: 0 0 0 1%;
}
.pop .end {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
.pop h4 {
    position: absolute;
    right: 0;
    bottom: 0;
}
.pop p {
    line-height: 2.5em;
    margin:  0 1%;
}
@media only screen and (max-width : 481px) , only screen and (max-width: 768px) {
    .pop {
        width: 80%;
    }
}